* {
	margin:0;
	padding:0;
	outline:none;
	outline-color:transparent;
}
a {
	text-decoration:none;
}
ul, li, ol {
	list-style:none;
}
body {
	background-color:#f0f0f0;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size:14px;
}
#login-form {
	margin:50px auto 10px;
	background-color:#fff;
	box-shadow:0 1px 1px 1px rgba(0,0,0,.2);
	border-radius:5px;
	min-width:280px;
	max-width:300px;
	position:relative;
	padding-top:15px;
}
#login-logo {
	position:absolute;
	top:-20px;
	right:-20px;
	width:40px;
	height:40px;
	padding:5px;
	background-color:#fff;
	border-radius:50%;
	box-shadow:0 1px 1px 1px rgba(0,0,0,.2);
}
#login-form p {
	padding:0 15px 10px;
}
#login-form input[type="text"], #login-form input[type="password"], #forgot-form input[type="text"] {
	padding:8px;
	width:92%;
	border:1px solid transparent;
	border-bottom-color:#ccc;
}
#login-form input.code {
	width:160px;
	margin-right:15px;
}
#login-form p img {
	vertical-align:middle;
	position:relative;
	top:3px;
}
.login-button {
	padding:0 15px 15px;
	text-align:right;
}
#login-form input[type="submit"], #forgot-form input[type="submit"] {
	background-color: #03A79C;
	border:1px solid #03A79C;
	color: #fff;
	padding:5px 24px;
	font-weight:bold;
	font-size:15px;
}
.login-button a {
	float:left;
	color:#03A79C;
	position:relative;
	top:4px;
}
input[type="checkbox"] {

}
input[type="checkbox"]:checked:before {

}
.message {

}
.error {

}
.warning {

}
.success {
	
}
#aside {}
#aside img {}
#site-logo {}
#aside-inner {}
#aside-inner ul {}
#aside-inner li {}
#aside-inner li a {}
#aside-inner ul.sub-menu {}
#aside-inner ul.sub-menu li {}
#aside-inner ul.submenu li a {}
#container {}
#header {}
#header-inner {}
#content-wrap {}
#content {}
#footer {}
#footer-inner {}
.page-navi {}
span.total {}
.page-navi a,.page-navi span {}
.page-navi span.current {}
.page-navi a.next-page {}
.page-navi a.last-page {}
.data-table {}
table.list-table {}
table.list-table th, table.list-table td {}
table.list-table th {}
th.col-checkbox, td.col-checkbox {}
th.col-tools, td.col-tools {}
a.tool {}
a.edit {}
a.change {}
a.delete {}
.form-inner {}
.form-elements {}
table.horizontal-display {}
td.row-label {}
.form-button {}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {}
input[type="checkbox"] {}
