* {
	margin:0;
	padding:0;
	outline:none;
	outline-color:transparent;
}
a {
	text-decoration:none;
	color:#4183c4;
}
ul, li, ol {
	list-style:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color:#f0f0f0;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size:14px;
}
#login-form {
	margin:50px auto 10px;
	background-color:#fff;
	box-shadow:0 1px 1px 1px rgba(0,0,0,.2);
	border-radius:5px;
	min-width:280px;
	max-width:300px;
	position:relative;
	padding-top:15px;
}
#login-logo {
	position:absolute;
	top:-25px;
	right:-25px;
	width:40px;
	height:40px;
	padding:10px;
	background-color:#fff;
	border-radius:50%;
	box-shadow:0 1px 1px 1px rgba(0,0,0,.2);
}
#login-form p {
	padding:0 15px 10px;
}
#login-form input[type="text"], #login-form input[type="password"], #forgot-form input[type="text"] {
	padding:8px;
	width:92%;
	border:1px solid transparent;
	border-bottom-color:#ccc;
}
#login-form input.code {
	width:160px;
	margin-right:15px;
}
#login-form p img {
	vertical-align:middle;
	position:relative;
	top:3px;
}
#login-form p label {
	display:block;
	margin-top:10px;
	font-size:13px;
	color:#666;
}
.login-button {
	padding:0 15px 15px;
	text-align:right;
}
#login-form input[type="submit"], #forgot-form input[type="submit"] {
	background-color: #03A79C;
	border:1px solid #03A79C;
	color: #fff;
	padding:5px 24px;
	font-weight:bold;
	font-size:15px;
	border-radius:3px;
}
.login-button a {
	float:left;
	color:#03A79C;
	position:relative;
	top:4px;
}
body.login .message {
	min-width:280px;
	max-width:300px;
	margin:0 auto;
	border-radius:5px;
}
body.login #footer {
	text-align:center;
	font-size:12px;
	color:#c0c0c0;
	margin-top:10px;
}
body.login #footer-inner {
	padding:10px 0;
}
input[type="checkbox"] {
	background: #fbfbfb;
	border: 1px solid #b4b9be;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px;
	margin: -4px 4px 0 0;
	outline: 0;
	padding: 0!important;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	min-width: 16px;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	transition: .05s border-color ease-in-out;
}
input[type="checkbox"]:checked:before {
	margin: 7px 0 0 0px;
	color: #1e8cbe;
	content:'\2714';
	font-size:18px;
	display:block;
}
.message {
	background-color:#fff;
	max-width:754px;
	margin:0 auto;
	box-shadow:0 1px 1px 1px rgba(0,0,0,.2);
}
.message p {
	padding:10px;
}
.error {
	color:red;
}
.warning {
	color:brown;
}
.success {
	color:green;
}
#aside {
	background-color:#fff;
	width:288px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	height:100%;
	position:fixed;
	z-index:10;
}
#aside-top {
	width:100%;
	height:60px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	border-bottom:1px solid rgba(0,0,0,.12);
}
#aside img {}
#site-logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
}
#aside-inner {}
#aside-inner > ul {
	padding:24px 0;
}
#aside-inner li a {
	display:block;
	padding:5px 0 5px 24px;
	font-weight:bold;
	color:#666;
	border-bottom:1px solid #ccc;
	font-size:15px;
}
#aside-inner ul.sub-menu {
	margin-left:24px;
}
#aside-inner ul.sub-menu li a {
	font-weight:normal!important;
}
#container {
	padding-left:288px;
	transition-property: padding-left;
}
#header {
	position:fixed;
	left:288px;
	top:0;
	right:0;
	transition-property: left;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	z-index:10;
}
#header-inner {
	background-color:#1565c0;
	height:60px;
	color:#fff;
	top:0;
	z-index:10;
}
#content-wrap {
	padding-top:60px;
}
#content {
	padding:24px;
}
#footer {
	color: #9e9e9e;
	text-align:right;
	max-width:754px;
	margin:0 auto;
}
#footer-inner {
	padding:10px 0;
}
.page-navi {
	padding:5px 0;
	text-align:right;
	margin:5px auto;
	max-width:754px;
}
span.total {
	font-weight:bold;
}
.page-navi a,.page-navi span {
	display:inline-block;
	padding:7px 9px;
}
.page-navi a {
	text-decoration:underline;
}
.page-navi a.next-page {
	background-color:#357ae8;
	color:#fff;
	border-radius:2px;
	text-decoration:none;
}
table.list-table {
	width:100%;
}
th {
	font-weight:normal;
	font-size:12px;
}
table.list-table th, table.list-table td {
	vertical-align:middle!important;
}
table.list-table th {}
th.col-checkbox, td.col-checkbox {
	width:18px;
	text-align:center;
}
th.col-tools, td.col-tools {
	text-align:right!important;
}
a.tool {
	font-size:11px;
	background-color:#eee;
	display:inline-block;
	padding:2px 3px;
	border-radius:2px;
	margin:0 0 0 2px;
}
a.tool:before {
	display:inline-block;
	margin-right:3px;
	width:16px;
	height:16px;
	content:'';
	font-size:16px;
	vertical-align:middle;
	line-height:16px;
}
a.edit {
	background-color:green;
	color:#fff;
}
a.edit:before {
	content:'\270E';
}
a.change {
	background-color:orange;
	color:#000;
}
a.change:before {
	content:'\029C9
';
}
a.delete {
	background-color:red;
	color:yellow;
}
a.delete:before {
	content:'\2718';
}
.form-inner, .data-table {
	background-color:#fff;
	padding:15px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	margin:24px auto;
	max-width:724px;
}
.data-table {
	margin:5px auto;
}
.form-inner table {
	width:100%;
}
.form-elements {
	
}
table.horizontal-display,table.list-table {
	
}
table.horizontal-display td, table.list-table td, table.list-table th {
	text-align:left;
	padding:12px 8px;
	border-bottom:1px solid #ccc;
	vertical-align:top;
}
table.horizontal-display tr:last-child td {
	border-bottom-color:#fff;
}
table.horizontal-display p {
	line-height:25px;
	color:#666;
	margin-top:16px;
}
table.horizontal-display td p:first-child {
	margin-top:0;
}
table.horizontal-display td p:last-child {
	margin-bottom:16px;
}
td.row-label {
	font-size:18px;
	min-width:240px;
	max-width:240px;
	width:240px;
}
table.horizontal-display input[type="text"], table.horizontal-display input[type="email"], table.horizontal-display input[type="password"],
table.horizontal-display textarea, table.horizontal-display input[type="number"], table.horizontal-display select {
	background-color:transparent;
	border:1px solid #fff;
	border-bottom-color:#e0e0e0;
	width:328px;
	color:#000;
	font-size:16px;
	line-height:200%;
}
table.horizontal-display select {
	border-bottom-color:transparent;
}
table.horizontal-display img {
	width:150px;
	height:150px;
}
.form-button {
	background-color:transparent;
        box-shadow:none;
}
.form-button input[type="submit"] {
    	padding: 8px 25px;
    	font-size: 15px;
    	font-weight: bold;
	border: none;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {}
input[type="checkbox"] {}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea {
	resize:none;
}
